{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" >
</head>
<body>
    <div class="menu">
        <a href="{% url 'index' %}">Index</a>
        <a href="{% url 'about' %}">About US</a>
    </div>
    <h1>Djagno Tutorial in HTML</h1>
    {% block content %}
        <p>This is sample paragraph.</p>
    {% endblock content %}
</body>
</html>